html, body, * {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #282a36;
    color: white;
    font-family: "Daidoh Remix", serif;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1e1f28;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.link-tile img {
    max-height: 200px;
}

.button {
    display: flex;
    justify-content: center;
}

.button p {
    width: 100px;
    border-radius: 5px;
    background-color: #282a36;
    margin: 10px 0 0 0;
    padding: 10px 0;

}

.button p:hover {
}

.button p:hover {
    background-color: #1e3653;
}

#join-button p {
    width: 100px;
    margin-left: 10px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #1e1f28;
}

#join-button p:hover {
    background-color: #1e3653;
}

#logo {
    cursor: pointer;
    padding: 10px 0;
}

#welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#circle-logo {
    max-height: 40%;
    margin: 0 10px;
}

#header-title {
    font-size: 50px;
}

#header-subtitle {
    font-size: 25px;
}

#header-titles {
    color: white;
}

#links {
    background-color: #1e1f28;
    padding: 40px 0;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links-div {
    width: 1000px;
}

#link-tiles {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3%;
    padding-right: 250px;
}

#game-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#game-tracker-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#game-tracker-info a {
    display: flex;
}

@media (max-width: 1050px){

    .link-tile img {
        max-height: 125px;
    }

    #links {
        height: 150px;
    }

    #links-div {
        width: 620px;
    }

    #game-tracker-info a img {
        max-width: 600px;
    }
}

@media (max-width: 750px){
    .link-tile img {
        max-height: 100px;
    }

    #links {
        height: 200px;
    }

    #links-div {
        width: 490px;
    }

    #game-tracker-info a img {
        max-width: 500px;
    }
}

@media (max-width: 500px){
    .link-tile img {
        max-height: 75px;
    }

    #circle-logo {
        max-height: 160px;
    }

    #header-title {
        font-size: 26px;
        padding-right: 10px;
    }

    #header-subtitle {
        font-size: 15px;
        padding-right: 10px;
    }

    #links {
        height: 200px;
    }

    #links-div {
        width: 360px;
    }

    #game-tracker-info a img {
        max-width: 240px;
    }
}

